.step {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: opacity .3s ease, transform .5s ease;
}

.step.next {
  opacity: 0;
  transform: translateY(100%);
}

.step.active {
  opacity: 1;
  transform: translateY(0);
}

.step.prev {
  opacity: 0;
  transform: translateY(-100%);
}

.step .dcl.tag-field {
  width: 400px;
}

.step .dcl.tag-field .ui.selection.dropdown {
  width: auto;
  max-height: 200px;
  overflow: auto;
}